nav{
    height: 70px;
    width:100%;
    background-color: aquamarine;
    padding-bottom: 2%;
}
nav li{ 
    position:relative;
    float:left;
    margin-left: 15%;
    margin-top: 2%;
}
nav ul li{
    cursor: pointer;
    margin-left: 8%;
}
nav ul li a{
    color:#050505;
    font-size: larger;
}
@media only screen and (max-width: 700px){
    nav ul li{
       display: none;
    }
    nav img{
       display: block;
       margin-left: 4%;
       margin-top: 2%;
       cursor: pointer;
    }
   }